[submodule "vendor/ansible"]
	path = vendor/ansible
	url = https://github.com/ansible/ansible.git
	branch = devel
[submodule "vendor/virtualenv"]
	path = vendor/virtualenv
	url = https://github.com/pypa/virtualenv.git
[submodule "roles/dotfiles/files/.vim/bundle/Vundle"]
	path = roles/dotfiles/files/.vim/bundle/Vundle
	url = https://github.com/VundleVim/Vundle.vim.git
